<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:replace="~{fragments/head :: headTemplate}"></th:block>
  <title>관리자 로그인</title>
  <meta charset="utf-8" />
</head>

<body
    style="background-color: var(--light-color); font-family: var(--body-font),serif; color: var(--body-text-color);">
<div th:replace="~{fragments/header}"></div>
<!-- 실패 메시지 -->
<div th:if="${error}" th:attr="data-error=${error}" style="display:none;"></div>

<!-- 성공 메시지 -->
<div th:if="${success}" th:attr="data-success=${success}" style="display:none;"></div>

<main class="container my-5 mx-auto" style="max-width: 400px;">
  <h2 class="text-center" style="color: var(--dark-color); font-family: var(--heading-font),serif;">
    관리자 로그인</h2>

  <form th:action="@{/admin/login}" method="post">
    <div class="mb-3">
      <label for="loginId" class="form-label" style="font-weight: 600;">아이디</label>
      <input type="text" class="form-control" id="loginId" name="loginId" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label" style="font-weight: 600;">비밀번호</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <button type="submit" class="btn btn-common w-100">로그인</button>
  </form>
</main>

<div th:replace="~{fragments/footer}"></div>
<!-- 자바스크립트로 메시지 가져와서 alert 처리 -->
<script>
  window.onload = function() {
    // error 메시지 확인 후 alert
    var errorMessage = document.querySelector('[data-error]');
    if (errorMessage) {
      alert(errorMessage.getAttribute('data-error'));
    }

    // success 메시지 확인 후 alert
    var successMessage = document.querySelector('[data-success]');
    if (successMessage) {
      alert(successMessage.getAttribute('data-success'));
    }
  };
</script>
</body>
</html>