<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쿠폰 상세</title>
  <link rel="stylesheet" href="style.css">
  <div th:replace="~{fragments/head}"></div>
</head>
<body>
<div class="container">
  <h2>쿠폰 상세 정보</h2>

  <div>
    <p><strong>책 이름:</strong> <span th:text="${book.title}"></span></p>
    <p><strong>출판사:</strong> <span th:text="${book.publisherName}"></span></p>
  </div>

  <form id="couponForm" action="/admin/coupons/book/create" method="POST">

    <input type="hidden" name="bookId" th:value="${book.bookId()}">

    <table border="1" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
      <thead>
      <tr>
        <th style="padding: 10px; background-color: #f0f0f0;">순번</th>
        <th style="padding: 10px; background-color: #f0f0f0;">쿠폰 이름</th>
        <th style="padding: 10px; background-color: #f0f0f0;">할인(률)</th>
        <th style="padding: 10px; background-color: #f0f0f0;">조건(이상)</th>
        <th style="padding: 10px; background-color: #f0f0f0;">최대 할인 금액</th>
        <th style="padding: 10px; background-color: #f0f0f0;">기간</th>
        <th style="padding: 10px; background-color: #f0f0f0;">설명</th>
        <th style="padding: 10px; background-color: #f0f0f0;">선택</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="template, iterStat : ${templateList}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${template.couponName}"></td>
        <td th:text="${template.discountPrice() < 1 ? template.discountPrice().multiply(100).stripTrailingZeros().toPlainString() + '%'
                   : template.discountPrice().stripTrailingZeros().toPlainString() + '원'}"></td>
        <td th:text="${template.condition} + '원'"></td>
        <td th:text="${template.maxPrice} + '원'"></td>
        <td th:text="${template.duration} + '일'"></td>
        <td th:text="${template.couponDescription}"></td>
        <td>
          <input type="radio" name="couponTemplateId" th:value="${template.couponTemplateId}"
                 th:id="'template-' + ${template.couponTemplateId}" />
          <label th:for="'template-' + ${template.couponTemplateId}">선택</label>
        </td>
      </tr>
      </tbody>
    </table>

    <button type="submit">책에 쿠폰 추가</button>
  </form>
</div>

</div>

<script>
  // 선택된 템플릿을 POST 방식으로 전송
  document.getElementById('couponForm').addEventListener('submit', function(event) {
    // 선택된 쿠폰 템플릿이 없으면 경고 메시지를 표시하고 폼 제출을 막음
    const selectedTemplate = document.querySelector('input[name="couponTemplateId"]:checked');
    if (!selectedTemplate) {
      alert('쿠폰 템플릿을 선택해 주세요!');
      event.preventDefault();
    }
  });
</script>
</body>
</html>
