<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쿠폰 템플릿 조회</title>
  <link rel="stylesheet" href="style.css">
  <div th:replace="~{fragments/head}"></div>
</head>
<body>
<div class="container">
  <button class="close-btn" onclick="window.location.href='/admin'">&times;</button>
  <h2>쿠폰 템플릿 상세 정보</h2>

  <div>
    <p><strong>쿠폰 이름:</strong> <span th:text="${couponTemplate.couponName()}"></span></p>
    <p><strong>할인 금액:</strong> <span th:text="${couponTemplate.discountPrice() < 1 ? couponTemplate.discountPrice().multiply(100).stripTrailingZeros().toPlainString() + '%'
                   : couponTemplate.discountPrice().stripTrailingZeros().toPlainString() + '원'}"></span></p>
    <p><strong>조건(이상):</strong> <span th:text="${couponTemplate.condition() + '원'}"></span></p>
    <p><strong>최대 할인 금액:</strong> <span th:text="${couponTemplate.maxPrice() != null ? couponTemplate.maxPrice() + '원' : '-'}"></span></p>
    <p><strong>기간:</strong> <span th:text="${couponTemplate.duration() + '일'}"></span></p>
    <p><strong>설명:</strong> <span th:text="${couponTemplate.couponDescription()}"></span></p>
  </div>
</div>
</body>
</html>
