<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<head>
  <meta charset="UTF-8">
  <title>주문 작성</title>
  <script src="https://js.tosspayments.com/v2/standard"></script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/decimal.js-light@2.5.1/decimal.min.js"></script>
  <script src="/static/js/payment-utils.js"></script>
  <link href="/static/css/purchase-style.css" rel="stylesheet" />
  <script th:inline="javascript">
    const addressSelectors = {
      zipSelector: '#zipInput',
      addressSelector: '#addressInput',
      addressDetailSelector: '#addressDetailInput',
      addressExtraSelector: '#addressExtraInput'
    };

    let deliveryFeeId = 1;
    // TODO: netPrice를 가져오도록 해야함.
    let netPrice=0;
    let selectedAddress = '';
    const selectAddressType = 'custom';
    const cartList = [];
    let deliveryFeeList = [];


    [# th:each="cart: ${cartList}"]
    cartList.push([[${cart}]]);
    [/]

    [# th:each="feeIndex: ${fees}"]
    var feeObj = {
      id: [[${feeIndex.id}]],
      fee: [[${feeIndex.fee}]],
      condition: [[${feeIndex.condition}]]
    };
    deliveryFeeList.push(feeObj);
    [/]

    deliveryFeeList = deliveryFeeList.sort((v1, v2) => v2.condition - v1.condition);

    const selectDeliveryFee =() => {
      let i=0;
      for (; i<deliveryFeeList.length; i++) {
        // condition 0이 있다는 가정!
        if (priceInfo.beforeDelivery >= deliveryFeeList[i].condition) {
          deliveryFeeId = deliveryFeeList[i].id;
          break;
        }
      }
      priceInfo.totalPrice = new Decimal(priceInfo.beforeDelivery + deliveryFeeList[i].fee);
    }
    let wrappingPaperId = 1;
    cartList.forEach(cart => cart['wrap'] = {
      id: -1,
      cost: 0
    });
    const priceInfo = getCopyOfPriceInfo();

    // !!! Initiate !!!
    calcFromCart(priceInfo, cartList);
    selectDeliveryFee();

    const paymentInfo = {
      orderId: '',
      orderName: '',
      customer: {},
      method: '',
      amount: {
        currency: 'KRW',
        value: parseInt(priceInfo.totalPrice.toString())
      },
      successUrl: window.location.origin + "/guest/payment/success",
      failUrl: window.location.origin + "/guest/payment/fail"
    };
    const appendValue = (val) => {
      priceInfo.beforeDelivery += val;
      selectDeliveryFee();
      paymentInfo.amount.value = parseInt(priceInfo.totalPrice.toString());
      // priceInfo.totalPrice = priceInfo.totalPrice.plus(val);
      // paymentInfo.amount.value += val;
      initPrices();
    }
    const subtractValue = (val) => {
      throw 'Not Implemented yet';
      priceInfo.discountPrice += (-val);
      paymentInfo.amount.value -= val;
      initPrices();
    }

    // TODO: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Customer Info 작성해야함!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    // const fetchCustomerInfoPromise = axios.get('/payment/support/customer')
    //   .then(response => {
    //     paymentInfo.customer = {
    //       id: response.data.id,
    //       key: response.data.uuid,
    //       name: response.data.name,
    //       email: response.data.email
    //     };
    //   })
    //   .catch(err => {
    //     alert(`사용자 정보를 가져오는데 실패했습니다: ${err}`);
    //     returnToIndex();
    //   });
    const switchWrap = (index, bookId, { id, cost }) => {
      cartList[index]['wrap'] = {id, cost};
      const purchaseButton = document.querySelector('#purchaseButton');
      purchaseButton.disabled = true;
      axios.put('/guest/payment/support/wrap', {
        index, bookId, wrapId: id
      }).then(res => {
        purchaseButton.disabled = false;
        initPrices();
      });
    }
    const switchPayment = (element, method) => {
      paymentInfo.method = method;
      const paymentButtons = document.querySelectorAll('#paymentButtons > button');
      paymentButtons.forEach(btn => btn.classList.remove('payment-selected'));
      element.classList.add('payment-selected');
    };

    // document.addEventListener('DOMContentLoaded', () => {
    //   const cartTable =  document.querySelector('#shoppingCart');
    //   const cartList = cartTable.querySelectorAll('tr');
    //   orderName = cartList[0].querySelector('td').innerText;
    //   if (cartList.length > 1) {
    //     const totalBooks =
    //     orderName = `${orderName} 등 ${cartList}권`;
    //   }
    // });
    // const phoneRegex = new RegExp(`010-\\d{4}-\\d{4}`);
    document.addEventListener('DOMContentLoaded', async () => {
      // const customerNameInput = document.querySelector('#customerNameInput');
      // const customerEmailInput = document.querySelector('#customerEmailInput');
      // const customerPNInput = document.querySelector('#customerPNInput');
      // Promise.all([fetchCustomerInfoPromise])
      //   .then(value => {
      //     customerNameInput.value = paymentInfo.customer.name;
      //     customerEmailInput.value = paymentInfo.customer.email;
      //   });
    });

    const pnRegex = new RegExp(`\\d{0,4}`);
    const pnSubmitRegex = new RegExp(`\\d{4}`);

    // TODO: 전화번호 validation 처리
    document.addEventListener('DOMContentLoaded', () => {
      const pnCenters = document.querySelectorAll('.pn-center');
      const checkPnFormat = (input) => {
        if (input.value) {

        }
      }
    });
  </script>
  <script>
    // TODO: 테스트 코드 삭제
    paymentInfo.orderName = '테스트 주문';
    // paymentInfo.amount.value = 5000;
    // deliveryFeeId = 1;
    netPrice = 5000;
    // totalPrice = 5000;
  </script>

</head>

<body

    layout:fragment="content"
    style="background-color: var(--light-color); font-family: var(--body-font),serif; color: var(--body-text-color); height: 100vh">
<!--  TODO: Modal을 포장지 설명 띄우는 용도로 쓰자-->
  <div id="payment-background" class="modal-background">

  </div>

  <div id="wrap-background" class="modal-background">
    <div id="payment-modal">
      <div id="modal-head-payment" class="d-flex flex-row">
        <div class="me-auto">포장지 설명</div>
        <button onclick="closeHandler()">[X]</button>
        <script>
          const closeHandler = () => {
            document.querySelector("#payment-background").style.display = 'none';
          }
        </script>
      </div>
<!--      토스페이먼츠 결제-->
      <div id="modal-body-payment">
        <div style="width: 700px; height: 500px; background-color: white;">
          여기가 포장지 설명해주는 곳
        </div>
      </div>
    </div>
  </div>
  <div class="container-sm d-flex flex-row flex-wrap" id="section">
    <div class="row" style="width: 100%">
    <div id="order-page" class="col-sm-9">
      <!-- 주문서 -->
      <div class="cell-title mt-3" style="font-size: 1.8rem">주문서</div>
      <hr />
      <div class="mb-2 cell-title">상품확인</div>
      <table class="table mb-2">
        <thead>
        <tr>
          <th class="w-50" scope="col">상품명</th>
          <th scope="col">정가</th>
          <th scope="col">할인금액</th>
          <th scope="col">수량</th>
          <th scope="col">합계</th>
          <th scope="col"><a id="wrap-info" href="#">포장여부*</a></th>
          <th scope="col">포장가격</th>
          <script>
            const wrapInfo = document.querySelector('#wrap-info');

          </script>
<!--            <th scope="col">배송일?</th>-->
        </tr>
        </thead>
        <tbody id="shoppingCart">
        <th:block th:each="cart, i: ${cartList}">
        <tr th:id="|cart-row-${cart.id}|" th:data-book-id="${cart.id}">
          <td th:text="${cart.title}"></td>
          <td th:text="${cart.price}"></td>
          <td th:text="${cart.discountPrice}"></td>
          <td th:text="${cart.quantity}"></td>
          <td th:text="${cart.totalPrice * cart.quantity}"></td>
          <td>
            <div>
              <select th:data-book-id="${cart.id}" th:data-index="${i.index}" data-old-cost="0" onchange="selectWrapHandler(this)" class="form-control-sm" th:id="|paper-select-${cart.id}|">
                <option value="-1" data-cost="0" selected>포장안함</option>
                <th:block th:each="paper: ${wrappingPaperList}">
                <option
                    th:value="${paper.id}"
                    th:text="${paper.name}"
                    th:data-cost="${paper.price}"
                ></option>
                </th:block>
              </select>
            </div>
          </td>
          <td th:id="|wrap-${i.index}|">0</td>
        </tr>
        </th:block>
        <script>
          const selectWrapHandler = (select) => {
            const opt = select.selectedOptions[0];
            const id = parseInt(select.value);
            const index = select.getAttribute('data-index');
            const oldCost = parseInt(select.getAttribute("data-old-cost"));
            const cost = parseInt(opt.getAttribute("data-cost"));
            const bookId = parseInt(select.getAttribute("data-book-id"));
            const wrapView = document.querySelector(`#wrap-${index}`);
            wrapView.textContent = `${cost}`;

            appendValue(-oldCost);
            appendValue(cost);
            switchWrap(index, bookId, {id, cost});
            select.setAttribute('data-old-cost', cost);
          };
        </script>
        </tbody>
      </table>
<!--      주문인 정보-->
      <hr />
      <div id="customerInformation" class="row">
        <div class="col-sm-3 cell-title">주문인 정보</div>
        <div class="col-sm-6">
<!--          <div th:replace="~{fragments/purchase :: inputWithLabel('customerPNInput', '휴대폰번호', 'text', '')}"></div>-->
          <label class="form-label" for="customer-phone-info">핸드폰 번호</label>
          <div class="pn-input d-flex flex-row" id="customer-phone-info">
<!--            <input class="pn-start form-control" maxlength="3" required/>-->
            <div>010</div>
            <span class="mx-2">-</span>
            <input class="pn-center form-control" maxlength="4" required/>
            <span class="mx-2">-</span>
            <input class="pn-end form-control" maxlength="4" required/>
          </div>
          <div id="phoneErr" class="error-message">핸드폰 번호는 '010-0000-0000' 형식으로 입력해야 합니다.</div>
          <div th:replace="~{fragments/purchase :: inputWithLabel('customerNameInput', '성명', 'text', '')}"></div>
          <div th:replace="~{fragments/purchase :: inputWithLabel('customerPasswordInput', '비밀번호', 'password', '')}"></div>
        </div>
      </div>
      <hr />
      <div id="deliveryInformation" class="row">
        <div class="col-sm-3 cell-title">수신자 정보</div>
        <div class="col-sm-6">
          <div th:replace="~{fragments/purchase :: inputWithLabel('receiverNameInput', '수신자 성명', 'text', '')}"></div>
          <div th:replace="~{fragments/purchase :: inputWithLabel('receiverPhoneInput', '휴대전화번호', 'tel', '')}"></div>
          <div id="phoneError" class="error-message">핸드폰 번호는 '010-0000-0000' 형식으로 입력해야 합니다.</div>
          <div th:replace="~{fragments/purchase :: inputWithLabel('receiveDate', '배송받기 원하는 날짜', 'date', ${#dates.format(#dates.createToday(), 'yyyy-MM-dd')})}"></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3 cell-title">배송 주소</div>
        <div class="col-sm-6">
          <div id="customAddress">
            <div>
              <div class="d-flex flex-row">
                <input class="me-2" type="text" id="zipInput" placeholder="우편번호" />
                <button style="margin: auto 3px" id="findAddress" onclick="execPostCode(addressSelectors)">주소찾기</button>
              </div>
              <div>
                <input id="addressInput" type="text" placeholder="주소" />
              </div>
              <div>
                <input id="addressDetailInput" type="text" placeholder="상세주소" />
                <input id="addressExtraInput" type="text"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-sm-3 cell-title">결제 정보</div>
        <div class="col-sm-6">
          <div id="paymentButtons" class="d-flex flex-row flex-wrap card-info-contents">
            <button onclick="switchPayment(this, 'CARD')">카드</button>
            <button onclick="switchPayment(this, 'CULTURE_LAND')">문화상품권</button>
          </div>
        </div>
      </div>
    </div>
    <aside class="stick col-sm-3">
      <div class="asideContent d-flex flex-column mb-2">
        <ul style="margin:0">
          <li class="d-flex flex-row">
            <p>상품 금액</p>
            <div class="ms-auto mini-price" id="originPrice"></div>
          </li>
          <li class="d-flex flex-row">
            <p>배송비</p>
            <div class="ms-auto mini-price" id="deliveryPrice"></div>
          </li>
          <li class="d-flex flex-row">
            <p>할인가격</p>
            <div class="ms-auto mini-price" id="discountPrice"></div>
          </li>
          <li class="d-flex flex-row">
            <p>포장 가격</p>
            <div class="ms-auto mini-price" id="wrappingPrice"></div>
          </li>
        </ul>
        <hr/>
        <div class="d-flex flex-row title-price">
          <p>결제 가격</p>
          <div class="ms-auto" id="payPrice"></div>
        </div>
      </div>
      <button class="w-100" id="purchaseButton" onclick="doOnceAsync(callPaymentReady)">결제하기</button>
    </aside>
    </div>
  </div>
    <script>
      const initPrices = () => {
        const origin = document.querySelector('#originPrice');
        const discount = document.querySelector('#discountPrice');
        const pay = document.querySelector('#payPrice');
        const wrap = document.querySelector('#wrappingPrice');
        const delivery = document.querySelector('#deliveryPrice');

        origin.innerHTML = `₩ ${priceInfo.originPrice}`;
        discount.innerHTML = `- ₩ ${priceInfo.discountPrice}`;
        delivery.innerHTML = `₩ ${deliveryFeeList.filter(d => d.id === deliveryFeeId)[0].fee}`;
        pay.innerHTML = `₩ ${priceInfo.totalPrice.toString()}`;
        let wrapPrice = 0;
        cartList.forEach(cart => {
          wrapPrice += cart['wrap'].cost;
        });
        wrap.innerHTML = `₩ ${wrapPrice}`;
      };
      initPrices();
    </script>
<!--  </footer>-->
<script>
  const purchaseHandler = () => {
    document.querySelector("#payment-background").style.display = 'block';
  }
</script>
<script th:inline="javascript">
  let done = false;
  const paymentBackground = document.querySelector('#payment-background');
  const purchaseButton = document.querySelector('#purchaseButton');
  const doOnceAsync = (fn) => {
    console.log('blocking...');
    paymentBackground.style.display = 'block';
    callPaymentReady().then(() => paymentBackground.style.display = 'none');
  }
  // TODO: 비회원 결제 해야할것
  //  1. 주문자 정보 validation
  //  2. Customer ID 가져오기
  //  3. Create Order.
  async function callPaymentReady() {
    console.log("disabling button...");
    purchaseButton.disabled = true;
    try {
      // validation
      const phoneNumber = getCustomerPhoneNumber();
      const customerName = getCustomerName();
      const customerPassword = getCustomerPassword();

      if (paymentInfo.method === '') {
        alert('결제 수단을 선택해 주세요');
        return;
      }
      if (!checkPhoneNumberFormat()) {
        alert('휴대폰 번호를 정확하게 입력해 주세요.');
        return;
      }
      let deliveryInfo = null;
      if(selectAddressType === 'custom')
        deliveryInfo = getDeliveryInformation(addressSelectors, deliveryFeeId, '#receiveDate', '#receiverNameInput');
      else {
        console.log(`address type : ${selectedAddress}`);
        alert("주소 지정에 오류가 생겼습니다. 다시 시도해 주세요.");
        window.location.reload();
      }

      const clientKeyResponse = await axios.get('/guest/payment/support/toss/clientKey');
      if (clientKeyResponse.status !== 200) {
        alert('클라이언트 키를 가져오는데 실패했습니다.');
        returnToIndex();
      } else {
        // TODO: 여기서 주문을 생성하는 API를 호출해야 할듯.
        console.log(`deliveryInfo`);
        console.log(deliveryInfo);
        // await Promise.all([fetchCustomerInfoPromise]);
        const customerBody = {
          phoneNumber: phoneNumber,
          name: customerName,
          password: customerPassword
        };
        const customerData = (await axios.post('/guest/payment/support/customer?type=phoneNumber', customerBody)).data;

        paymentInfo.customer = {
          id: customerData.id,
          key: customerData.uuid,
          name: customerData.name,
          email: customerData.email
        };

        const purchaseInfo = {
          customerId: parseInt(paymentInfo.customer.id),
          delivery: deliveryInfo,
          elements: cartList.map(cart => convertCartToRequest({
            id: cart.id,
            paperSelector: `#paper-select-${cart.id}`,
            quantity: cart.quantity,
            totalPrice: cart.totalPrice
          })),
          netPrice: netPrice,
          totalPrice: parseInt(priceInfo.totalPrice.toString())
        };
        console.log(`purchaseInfo`);
        console.log(purchaseInfo);
        createNewGuestOrder(purchaseInfo)
          .then(response => {
            return axios.get(`/guest/payment/support/generate-order?orderId=${response.data.orderId}`);
          })
          .then(response => {
            if (response.status === 202) {
              console.log(`Request already accepted... please wait`);
              return;
            }
            paymentInfo.orderId = response.data;
            console.log(paymentInfo);
            return tossPaymentReady(paymentInfo, clientKeyResponse.data);
          })
          .catch(err => {
            console.log(err);
            onGuestPaymentFail().then(response => {
              alert(`주문 생성에 실패했습니다. 다시 시도해 주세요: ${err}`);
            }).catch(inErr => console.log("주문 삭제에 실패했습니다."));
          })
          .finally(() => {
            paymentBackground.style.display = 'none';
            purchaseButton.disabled = false;
          });
      }
    }catch (err) {
      console.log(err);
      alert(err);
    }
    // btn.disabled = false;
  }
</script>
<script>
  function formatPhoneNumber() {
    const phoneInput = document.getElementById("receiverPhoneInput");
    const phoneError = document.getElementById("phoneError");

    let phoneValue = phoneInput.value.replace(/[^0-9]/g, '');

    if (phoneValue.startsWith("010")) {
      if (phoneValue.length <= 3) {
        phoneInput.value = phoneValue;
      } else if (phoneValue.length <= 7) {
        phoneInput.value = `${phoneValue.slice(0, 3)}-${phoneValue.slice(3)}`;
      } else if (phoneValue.length <= 11) {
        phoneInput.value = `${phoneValue.slice(0, 3)}-${phoneValue.slice(3, 7)}-${phoneValue.slice(7, 11)}`;
      }
    } else {
      phoneError.style.display = "block";
      return;
    }

    phoneError.style.display = (phoneValue.length === 11) ? "none" : "block";
  }

  const phoneRegex = new RegExp(`010-\\d{4}-\\d{4}`);
  function checkPhoneNumberFormat() {
    const phoneInput = document.getElementById("receiverPhoneInput");
    return phoneRegex.exec(phoneInput.value) !== null;
  }
  document.querySelector('#receiverPhoneInput').oninput = formatPhoneNumber;

  const minDate = new Date();
  minDate.setDate(minDate.getDate() + 1);
  const minString = minDate.toISOString().split('T')[0];
  const dateInput = document.querySelector('#receiveDate');
  dateInput.setAttribute("min", minString);
  dateInput.value = minString;
</script>
<script>
  const phoneSubRegex = new RegExp(`\\d{4}`);
  function getCustomerPhoneNumber() {
    const pnCenter = document.querySelector('#customer-phone-info .pn-center');
    const pnEnd = document.querySelector('#customer-phone-info .pn-end');
    if (phoneSubRegex.exec(pnCenter.value) == null || phoneSubRegex.exec(pnEnd.value) == null) {
      throw '휴대폰 번호 양식이 잘못되었습니다.';
    }
    return `010${pnCenter.value}${pnEnd.value}`;
  }
  function getCustomerName() {
    const nameInput = document.querySelector('#customerNameInput');
    if (nameInput.value === '')
      throw '이름을 채워주세요';
    return nameInput.value;
  }
  // TODO: 비밀번호 정책
  function getCustomerPassword() {
    const passwordInput = document.querySelector('#customerPasswordInput');
    if (passwordInput.value === '')
      throw '비밀번호를 채워주세요';
    return passwordInput.value;
  }
</script>
</body>
</html>