<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage}"
>

<head>
  <meta charset="UTF-8">
  <title>회원 등급</title>
</head>

<body layout:fragment="mypageContent">
<!-- 등급 정보 섹션 -->
<div id="gradeInfo">
  <h3 style="font-family: 'Pretendard', sans-serif;">등급 정보</h3>
  <div class="info-card">
    <!-- 현재 등급 -->
    <p class="info-item">
      <i class="fas fa-medal bronze-icon" th:if="${member.grade().gradeName() == '일반'}"></i>
      <i class="fas fa-medal silver-icon" th:if="${member.grade().gradeName() == '로얄'}"></i>
      <i class="fas fa-medal gold-icon" th:if="${member.grade().gradeName() == '골드'}"></i>
      <i class="fas fa-medal platinum-icon"
         th:if="${member.grade().gradeName() == '플래티넘'}"></i>
      <strong>현재 등급:</strong> <span th:text="${member.grade().gradeName()}"></span>
    </p>

    <!-- 등급 산정 기간 -->
    <p class="info-item">
      <i class="fas fa-calendar-alt"></i> <strong>등급 산정 기간:</strong>
      <span
          th:text="${#temporals.format(#temporals.createNow().minus(3, T(java.time.temporal.ChronoUnit).MONTHS), 'yyyy-MM-dd')}"></span>
      ~
      <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"></span>
    </p>

    <!-- 현재 구매 금액 -->
    <p class="info-item">
      <i class="fas fa-won-sign"></i> <strong>현재 구매 금액:</strong> <span th:text="'원'"></span>
    </p>

    <!-- 다음 등급까지 남은 금액 -->
    <p class="info-item">
      <i class="fas fa-arrow-up"></i> <strong>다음 등급까지 남은 금액:</strong>
      <span th:text="'원'"></span>
    </p>

    <!-- 등급 혜택 확인 버튼 -->
    <button class="btn btn-custom btn-lg mt-3" data-bs-toggle="modal"
            data-bs-target="#gradeBenefitsModal">
      등급 혜택 확인
    </button>
  </div>
</div>

<!-- 등급 혜택 모달 -->
<div class="modal fade" id="gradeBenefitsModal" tabindex="-1"
     aria-labelledby="gradeBenefitsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content info-card">
      <div class="modal-header">
        <h5 class="modal-title info-title" id="gradeBenefitsModalLabel">등급별 혜택</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li><strong>일반:</strong> 0 ~ 10만 포인트 미만, 1%의 적립 혜택이 있습니다.</li>
          <li><strong>로얄:</strong> 10만 ~ 20만 포인트 미만, 2%의 적립 혜택이 있습니다.</li>
          <li><strong>골드:</strong> 20만 ~ 30만 포인트 미만, 3%의 적립 혜택이 있습니다.</li>
          <li><strong>플래티넘:</strong> 30만 ~ , 4%의 적립 혜택이 있습니다.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>