<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css">
  <link rel="stylesheet" href="/static/style-mypage.css">
  <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
  ></script>
  <style>
    div#mainContent {
      margin: auto;
      margin-bottom: 2rem;
    }
  </style>
</head>
<body layout:fragment="content">
<div id="mainContent" class="container row">
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
  <div class="position-sticky">
    <ul class="nav flex-column">

      <!-- 회원 정보 -->
      <li class="nav-item">
        <a class="nav-link collapsed d-flex justify-content-between align-items-center"
           data-bs-toggle="collapse" href="#memberInfo" role="button"
           aria-expanded="false" aria-controls="memberInfo">
          회원 정보
          <i class="fas fa-chevron-right toggle-icon"></i>
        </a>
        <div class="collapse" id="memberInfo">
          <ul class="nav flex-column ms-3" style="margin-top: 0">
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#personalInfo">개인
              정보 관리</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
                                    href="#deliveryAddress">배송 주소</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#coupons">쿠폰</a>
            </li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
                                    href="#gradeInfo">등급</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#deleteAccount">회원
              탈퇴</a></li>
          </ul>
        </div>
      </li>

      <!-- 쇼핑 내역 -->
      <li class="nav-item">
        <a class="nav-link collapsed d-flex justify-content-between align-items-center"
           data-bs-toggle="collapse" href="#shoppingHistory" role="button"
           aria-expanded="false" aria-controls="shoppingHistory">
          쇼핑 내역
          <i class="fas fa-chevron-right toggle-icon"></i>
        </a>
        <div class="collapse" id="shoppingHistory">
          <ul class="nav flex-column ms-3" style="margin-top: 0">
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#orders">주문
              내역</a></li>
          </ul>
        </div>
      </li>

      <!-- 활동 내역 -->
      <li class="nav-item">
        <a class="nav-link collapsed d-flex justify-content-between align-items-center"
           data-bs-toggle="collapse" href="#activityHistory" role="button"
           aria-expanded="false" aria-controls="activityHistory">
          활동 내역
          <i class="fas fa-chevron-right toggle-icon"></i>
        </a>
        <div class="collapse" id="activityHistory">
          <ul class="nav flex-column ms-3" style="margin-top: 0">
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#likes">좋아요</a>
            </li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#reviews">리뷰
              내역</a></li>
            <li class="nav-item"><a id="points-tab" class="nav-link" data-bs-toggle="tab" href="#points">포인트
              내역</a></li>
            <li class="nav-item"><a id="" class="nav-link" data-bs-toggle="tab" href="#coupons">쿠폰 내역</a></li>
            <script>
              const pointButton = document.querySelector('a#points-tab');
              const pointHistoryCaller = async (size, page) => {
                const {totalPage, totalElements} = await callPointHistoryPage(
                    '#pointHistoryTable', {size: size, page: page});
                const pageButtonTemplate = `<li class="page-item"><button class="page-link"></button></li>`;
                const pageButtonActiveTemplate = `<li class="page-item active"><button class="page-link"></button></li>`;
                const pagination = document.querySelector('#point-pagination');
                pagination.innerHTML = '';
                console.log(`totalPage: ${totalPage}, totalElements: ${totalElements}`);
                if (totalPage > 0) {
                  for (let i = 0; i < totalPage; i++) {
                    let pageButton = null;
                    console.log(`i: ${i}, page: ${page}, page===i => ${page === i}`);
                    console.log(`typeof(i): ${typeof (i)}, typeof(page): ${typeof (page)}`);
                    if (page === i) { // isActive
                      pageButton = `<li class="page-item active"><button class="page-link" data-index="${i}">${i
                      + 1}</button></li>`;
                    } else {
                      pageButton = `<li class="page-item"><button class="page-link" data-index="${i}">${i
                      + 1}</button></li>`;
                    }
                    pagination.innerHTML += pageButton;
                  }
                }
                const buttons = pagination.querySelectorAll('li > button');
                buttons.forEach(button => {
                  const index = button.getAttribute('data-index');
                  button.addEventListener('click', () => {
                    console.log(`call page: ${index}`);
                    pointHistoryCaller(defaultSize, parseInt(index));
                  });
                });
              };
              pointButton.addEventListener('click', () => pointHistoryCaller(defaultSize, 0));
            </script>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main class="col-md-9 col-lg-10">
  <div layout:fragment="mypageContent"></div>
</main>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>
</html>