<configuration scan="true" scanPeriod="60 seconds">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <variable name="LOG_FORMAT"
    value="%d{yyyy-MM-dd HH:mm::ss.SSS} %-5level [%thread] %-35logger{35} - %msg%n"/>
  <springProperty scope="context" name="LOG_DIR" source="55g.log.path" />

  <appender name="root_fout" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/front-dev.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>${LOG_FORMAT}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/front-dev-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>20</maxHistory>
      <maxFileSize>5MB</maxFileSize>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="app_fout" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/app/front-dev.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>${LOG_FORMAT}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/app/front-dev-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>20</maxHistory>
      <maxFileSize>5MB</maxFileSize>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <springProfile name="dev &amp;&amp; !local">
    <root level="info">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="root_fout" />
    </root>
    <logger level="trace" additivity="false" name="shop.s5g.front">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="app_fout" />
    </logger>
  </springProfile>
  <springProfile name="local">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger level="trace" additivity="true" name="shop.s5g.front">
    </logger>
  </springProfile>
</configuration>