<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>moving to purchase Page</title>
  <th:block th:replace="~{fragments/head :: headTemplate}"></th:block>
</head>
<body>
    <script>
      const cartData = JSON.parse(localStorage.getItem('cart'));
      const selectedBookList = [];

      cartData.cartBookInfoList.filter(book => book.status == true).map(book => selectedBookList.push({bookId:book.bookId,
        quantity: book.quantity}));

      const bookListForPurchase = JSON.stringify({ cartBookInfoList: selectedBookList });
      const encodedBookList = encodeURIComponent(btoa(bookListForPurchase));
    </script>
</body>
</html>