<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/head :: headTemplate}"></th:block>
    <title>카테고리 수정</title>
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<form th:action="@{/admin/category/update/{categoryId} (categoryId = ${modifyCategory.categoryId()})}" method="post">
    <input type="hidden" name="_method" value="PUT">
    <label for="name">카테고리 수정</label>
    <input type="text" id="name" name="categoryName" th:value="${modifyCategory.categoryName()}">
    <button type="submit">수정</button>
</form>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>