<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>주문 작성</title>
  <th:block th:replace="~{fragments/head :: headTemplate}"></th:block>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://js.tosspayments.com/v2/standard"></script>
  <script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/static/js/payment-utils.js"></script>
  <script th:inline="javascript">
    const addressSelectors = {
      zipSelector: '#zipInput',
      addressSelector: '#addressInput',
      addressDetailSelector: '#addressDetailInput',
      addressExtraSelector: '#addressExtraInput'
    };

    // TODO: Fee id를 가져오도록 해야함.
    let deliveryFeeId = 1;

    const paymentInfo = {
      orderId: '',
      orderName: '',
      customer: {},
      method: '',
      amount: {
        currency: 'KRW',
        value: 0
      },
      successUrl: window.location.origin + "/payment/success",
      failUrl: window.location.origin + "/payment/fail"
    };

    const requestOrderIdPromise = axios.get('/payment/support/generate-order')
      .then(response => {
        paymentInfo.orderId = response.data;
      })
      .catch(err => {
        alert(`주문 세션 생성에 실패했습니다: ${err}`);
        returnToIndex();
      });

    const fetchCustomerInfoPromise = axios.get('/payment/support/customer')
      .then(response => {
        paymentInfo.customer = {
          key: response.data.key,
          name: response.data.name,
          email: response.data.email
        };
      })
      .catch(err => {
        alert(`사용자 정보를 가져오는데 실패했습니다: ${err}`);
        returnToIndex();
      });
    const switchPayment = (element, method) => {
      paymentInfo.method = method;
      const paymentButtons = document.querySelectorAll('#paymentButtons > button');
      paymentButtons.forEach(btn => btn.classList.remove('payment-selected'));
      element.classList.add('payment-selected');
    };

    const addAmount = (value) => {
      paymentInfo.amount.value+= value;
    };

    // document.addEventListener('DOMContentLoaded', () => {
    //   const cartTable =  document.querySelector('#shoppingCart');
    //   const cartList = cartTable.querySelectorAll('tr');
    //   orderName = cartList[0].querySelector('td').innerText;
    //   if (cartList.length > 1) {
    //     const totalBooks =
    //     orderName = `${orderName} 등 ${cartList}권`;
    //   }
    // });
    document.addEventListener('DOMContentLoaded', async () => {
      const customerNameInput = document.querySelector('#customerNameInput');
      const customerEmailInput = document.querySelector('#customerEmailInput');
      Promise.all([fetchCustomerInfoPromise, requestOrderIdPromise])
        .then(value => {
          customerNameInput.value = paymentInfo.customer.name;
          customerEmailInput.value = paymentInfo.customer.email;
        });
    });
  </script>
  <script>
    // TODO: 테스트 코드 삭제
    paymentInfo.orderName = '테스트 주문';
    paymentInfo.amount.value = 5000;
    deliveryFeeId = 1;
  </script>
  <link href="/static/css/purchase-style.css" rel="stylesheet" />
</head>

<body
    style="background-color: var(--light-color); font-family: var(--body-font),serif; color: var(--body-text-color); height: 100vh">
<!--  <div id="payment-background">-->
<!--    <div id="payment-modal">-->
<!--      <div id="modal-head-payment" class="d-flex flex-row">-->
<!--        <div class="me-auto">토스페이먼트 결제</div>-->
<!--        <button onclick="closeHandler()">[X]</button>-->
<!--        <script>-->
<!--          const closeHandler = () => {-->
<!--            document.querySelector("#payment-background").style.display = 'none';-->
<!--          }-->
<!--        </script>-->
<!--      </div>-->
<!--&lt;!&ndash;      토스페이먼츠 결제&ndash;&gt;-->
<!--      <div id="modal-body-payment">-->
<!--        <div style="background-color: white" id="payment-method">결제중...</div>-->
<!--        <div id="payment-agreement"></div>-->
<!--        <button class="button" id="payment-button">결제하기</button>-->
<!--        <script>-->
<!--          document.querySelector("#payment-button").addEventListener('click', async () => {-->
<!--            console.log("Payment!");-->
<!--            axios.post('/payment/toss', {paymentKey: 'asdf'})-->
<!--            .then(response => console.log(`response from controller: ${response.data}`));-->
<!--          });-->
<!--        </script>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="container-sm d-flex flex-row flex-wrap" id="section">
    <div id="order-page" class="flex-grow-1">
      <!-- 주문서 -->
      <h3>주문서</h3>
      <hr />
      <h4 class="mb-2">상품확인</h4>
      <table class="table mb-2">
        <thead>
        <tr>
          <th class="w-50" scope="col">상품명</th>
          <th scope="col">정가</th>
          <th scope="col">수량</th>
          <th scope="col">할인금액</th>
          <th scope="col">합계</th>
          <th scope="col">포장여부</th>
<!--            <th scope="col">배송일?</th>-->
        </tr>
        </thead>
<!--        <tbody id="shoppingCart">-->
<!--        <th:block th:each="cart: ${cartList}">-->
<!--        <tr th:data-book-id="${cart.id}">-->
<!--          <td th:text="${cart.title}"></td>-->
<!--          <td th:text="${cart.price}"></td>-->
<!--          <td th:text="${cart.quantity}"></td>-->
<!--          <td th:text="${cart.discountPrice}"></td>-->
<!--          <td th:text="${cart.totalPrice}"></td>-->
<!--          <td>-->
<!--            <div>-->
<!--              <select class="form-control-sm">-->
<!--                <option value="0" data-cost="0" selected>포장안함</option>-->
<!--                <th:block th:each="paper: ${wrappingPapaerList}">-->
<!--                <option th:value="${paper.id}" th:text="${paper.name}" th:data-cost="${paper.price}"></option>-->
<!--                </th:block>-->
<!--              </select>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </th:block>-->
<!--        </tbody>-->
      </table>
<!--      주문인 정보-->
      <hr />
      <div id="customerInformation" class="card-top">
        <div class="display-6 info-title card-title">주문인</div>
        <div class="d-flex flex-row card-info-contents">
          <div class="flex-grow-1">
            <div th:replace="~{fragments/purchase :: disabledInputWithLabel('customerNameInput', '성명', 'text')}"></div>
          </div>
          <div class="flex-grow-1">
            <div th:replace="~{fragments/purchase :: disabledInputWithLabel('customerEmailInput', '이메일', 'text')}"></div>
          </div>
        </div>
      </div>
      <hr />

      <div id="deliveryInformation" class="card-top">
        <div class="display-6 info-title card-title">배송 정보</div>
        <div class="d-flex flex-row card-info-contents">
          <div class="flex-grow-1">
            <div th:replace="~{fragments/purchase :: inputWithLabel('receiverNameInput', '수신자 성명', 'text', '')}"></div>
          </div>
          <div class="flex-grow-1">
            <div th:replace="~{fragments/purchase :: inputWithLabel('receiverPhoneInput', '휴대전화번호', 'text', '')}"></div>
          </div>
          <div>
            <div th:replace="~{fragments/purchase :: inputWithLabel('receiveDate', '배송받기 원하는 날짜', 'date', ${#dates.format(#dates.createToday(), 'yyyy-MM-dd')})}"></div>
          </div>
        </div>
      </div>
      <hr />

      <h4 class="mb-2">배송주소</h4>
      <div id="receiverInfo">
        <div>
          <div class="d-flex flex-row">
            <input class="me-2" type="text" id="zipInput" placeholder="우편번호" />
            <button id="findAddress" onclick="execPostCode(addressSelectors)">주소찾기</button>
          </div>
          <div>
            <input id="addressInput" type="text" placeholder="주소" />
          </div>
          <div>
            <input id="addressDetailInput" type="text" placeholder="상세주소" />
            <input id="addressExtraInput" type="text"/>
          </div>
        </div>
      </div>
      <hr />

      <div id="paymentInformation" class="card-top">
        <div class="display-6 info-title card-title">결제 정보</div>
        <div id="paymentButtons" class="d-flex flex-row flex-wrap card-info-contents">
          <button onclick="switchPayment(this, 'CARD')">카드</button>
          <button onclick="switchPayment(this, 'CULTURE_LAND')">문화상품권</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="d-flex flex-row">
    <div class="d-flex justify-content-center flex-grow-1">
      <div id="descriptionForm" class="me-auto">책 어쩌고 저쩌고 몇권 외..</div>
      <div id="priceForm" class="d-flex flex-row ms-3">
        <div th:replace="~{fragments/purchase :: displayPrice('원 가격', 'originPrice')}"></div>
<!--        <div>₩5000</div>-->
        <div class="price-delimiter align-items-center">-</div>
        <div th:replace="~{fragments/purchase :: displayPrice('할인 가격', 'discountPrice')}"></div>
<!--        <div>₩0</div>-->
        <div class="price-delimiter align-items-center">=</div>
        <div th:replace="~{fragments/purchase :: displayPrice('결제 가격', 'payPrice')}"></div>
<!--        <div>₩5000</div>-->
      </div>
      <div class="d-flex ms-4">
        <button class="m-0" id="purchaseButton" onclick="callPaymentReady()">구매하기</button>
      </div>
    </div>
    <script>
      const origin = document.querySelector('#originPrice');
      const discount = document.querySelector('#discountPrice');
      const pay = document.querySelector('#payPrice');

      origin.innerHTML = '₩ 5000';
      discount.innerHTML = '₩ 0';
      pay.innerHTML = '₩ 5000';
    </script>
  </footer>
</body>
<script>
  const purchaseHandler = () => {
    document.querySelector("#payment-background").style.display = 'block';
  }
</script>
<script th:inline="javascript">
  async function callPaymentReady() {
    try {
      if (paymentInfo.method === '') {
        alert('결제 수단을 선택해 주세요');
        return;
      }
      // TODO: 수신자 이름 및 번호 체크
      const deliveryInfo = getDeliveryInformation(addressSelectors, deliveryFeeId, '#receiveDate');

      const clientKeyResponse = await axios.get('/payment/support/toss/clientKey');
      if (clientKeyResponse.status !== 200) {
        alert('클라이언트 키를 가져오는데 실패했습니다.');
        returnToIndex();
      } else {
        // TODO: 여기서 주문을 생성하는 API를 호출해야 할듯.
        console.log(`deliveryInfo`);
        console.log(deliveryInfo);
        createNewOrder(deliveryInfo)
          .then(response => {
            if (response.status !== 201)
              return Promise.reject('Order Creation failed');
            return tossPaymentReady(paymentInfo, clientKeyResponse.data);
          })
          .catch(err => {
            alert(`주문 생성에 실패했습니다. 다시 시도해 주세요: ${err}`);
          });
      }
    }catch (err) {
      alert(err);
    }
  }
</script>
</html>