<!DOCTYPE html>
<html lang="ko">
<head>
	<title>55G.SHOP</title>
	<meta charset="utf-8">
	<th:block th:replace="~{fragments/head :: headTemplate}"></th:block>
<!--	<style>-->
<!--		/* 전체 페이지 스타일 */-->
<!--		body {-->
<!--			font-family: Arial, sans-serif;-->
<!--			background-color: #f9f9f9;-->
<!--			/*display: flex;*/-->
<!--			flex-direction: column;-->
<!--			align-items: center;-->
<!--			padding: 20px;-->
<!--		}-->

<!--		h1 {-->
<!--			text-align: center;-->
<!--			color: #333;-->
<!--			margin-bottom: 10px;-->
<!--		}-->

<!--		/* 필터 버튼 스타일 */-->
<!--		.filter-buttons {-->
<!--			display: flex;-->
<!--			gap: 8px;-->
<!--			margin-bottom: 20px;-->
<!--			justify-content: right;-->
<!--		}-->

<!--		.filter-button {-->
<!--			font-size: 14px;-->
<!--			padding: 5px 8px;-->
<!--			border: 1px solid #ddd;-->
<!--			border-radius: 4px;-->
<!--			background-color: #fff;-->
<!--			color: #00796b;-->
<!--			text-decoration: none;-->
<!--			cursor: pointer;-->
<!--			transition: background-color 0.2s;-->
<!--		}-->

<!--		.filter-button:hover {-->
<!--			background-color: #f0f0f0;-->
<!--		}-->

<!--		/* 도서 리스트 스타일 */-->
<!--		.book-list {-->
<!--			display: grid;-->
<!--			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));-->
<!--			gap: 20px;-->
<!--			padding: 0;-->
<!--			list-style-type: none;-->
<!--			max-width: 1000px;-->
<!--			margin: auto;-->
<!--		}-->

<!--		/* 도서 카드 스타일 */-->
<!--		.book-item {-->
<!--			background-color: #fff;-->
<!--			border-radius: 8px;-->
<!--			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);-->
<!--			padding: 20px;-->
<!--			transition: transform 0.2s;-->
<!--			text-align: center;-->
<!--		}-->

<!--		.book-item:hover {-->
<!--			transform: scale(1.05);-->
<!--		}-->

<!--		.book-title {-->
<!--			font-size: 20px;-->
<!--			font-weight: bold;-->
<!--			color: #333;-->
<!--			margin-bottom: 8px;-->
<!--		}-->

<!--		.book-price {-->
<!--			font-size: 16px;-->
<!--			color: #555;-->
<!--			margin-bottom: 8px;-->
<!--		}-->

<!--		.discount-rate {-->
<!--			font-size: 14px;-->
<!--			color: #00796b;-->
<!--		}-->

<!--		/* 페이지네이션 스타일 */-->
<!--		.pagination {-->
<!--			margin-top: 20px;-->
<!--			display: flex;-->
<!--			gap: 8px;-->
<!--			justify-content: center;-->
<!--		}-->

<!--		.pagination a {-->
<!--			color: #00796b;-->
<!--			text-decoration: none;-->
<!--			padding: 5px 10px;-->
<!--			border-radius: 4px;-->
<!--			border: 1px solid #ddd;-->
<!--			transition: background-color 0.2s;-->
<!--		}-->

<!--		.pagination a:hover {-->
<!--			background-color: #f0f0f0;-->
<!--		}-->

<!--		.pagination strong {-->
<!--			color: red;-->
<!--			padding: 5px 10px;-->
<!--			border-radius: 4px;-->
<!--			border: 1px solid #ddd;-->
<!--		}-->
<!--		/* 페이지 크기 버튼 스타일 */-->
<!--		.page-size-buttons {-->
<!--			display: flex;-->
<!--			align-items: center;-->
<!--			justify-content: right;-->
<!--			gap: 10px;-->
<!--			margin-bottom: 20px;-->
<!--			font-size: 14px;-->
<!--		}-->

<!--		.page-size-buttons span {-->
<!--			font-weight: bold;-->
<!--			color: #333;-->
<!--		}-->

<!--		.page-size-button {-->
<!--			padding: 8px 12px;-->
<!--			border: 1px solid #ddd;-->
<!--			border-radius: 4px;-->
<!--			background-color: #fff;-->
<!--			color: #00796b;-->
<!--			text-decoration: none;-->
<!--			transition: background-color 0.2s, color 0.2s, transform 0.2s;-->
<!--		}-->

<!--		.page-size-button:hover {-->
<!--			background-color: #f0f0f0;-->
<!--			transform: scale(1.05);-->
<!--		}-->

<!--		.page-size-button.active {-->
<!--			background-color: #00796b;-->
<!--			color: #fff;-->
<!--			cursor: default;-->
<!--			pointer-events: none;-->
<!--		}-->

<!--	</style>-->
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

<div th:replace="~{fragments/header}"></div>

<!--	<section id="billboard">-->

<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-md-12">-->

<!--					<button class="prev slick-arrow">-->
<!--						<i class="icon icon-arrow-left"></i>-->
<!--					</button>-->

<!--					<div class="main-slider pattern-overlay">-->
<!--						<div class="slider-item">-->
<!--							<div class="banner-content">-->
<!--								<h2 class="banner-title">Life of the Wild</h2>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero-->
<!--									ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis-->
<!--									urna, a eu.</p>-->
<!--								<div class="btn-wrap">-->
<!--									<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i-->
<!--											class="icon icon-ns-arrow-right"></i></a>-->
<!--								</div>-->
<!--							</div>&lt;!&ndash;banner-content&ndash;&gt;-->
<!--							<img src="../static/images/main-banner1.jpg" alt="banner" class="banner-image">-->
<!--						</div>&lt;!&ndash;slider-item&ndash;&gt;-->

<!--						<div class="slider-item">-->
<!--							<div class="banner-content">-->
<!--								<h2 class="banner-title">Birds gonna be Happy</h2>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero-->
<!--									ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis-->
<!--									urna, a eu.</p>-->
<!--								<div class="btn-wrap">-->
<!--									<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i-->
<!--											class="icon icon-ns-arrow-right"></i></a>-->
<!--								</div>-->
<!--							</div>&lt;!&ndash;banner-content&ndash;&gt;-->
<!--							<img src="../static/images/main-banner2.jpg" alt="banner" class="banner-image">-->
<!--						</div>&lt;!&ndash;slider-item&ndash;&gt;-->

<!--					</div>&lt;!&ndash;slider&ndash;&gt;-->

<!--					<button class="next slick-arrow">-->
<!--						<i class="icon icon-arrow-right"></i>-->
<!--					</button>-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

<!--	</section>-->

<!--	<section id="client-holder" data-aos="fade-up">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="inner-content">-->
<!--					<div class="logo-wrap">-->
<!--						<div class="grid">-->
<!--							<a href="#"><img src="../static/images/client-image1.png" alt="client"></a>-->
<!--							<a href="#"><img src="../static/images/client-image2.png" alt="client"></a>-->
<!--							<a href="#"><img src="../static/images/client-image3.png" alt="client"></a>-->
<!--							<a href="#"><img src="../static/images/client-image4.png" alt="client"></a>-->
<!--							<a href="#"><img src="../static/images/client-image5.png" alt="client"></a>-->
<!--						</div>-->
<!--					</div>&lt;!&ndash;image-holder&ndash;&gt;-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
<!--    <section>-->
<!--		<h1>Book List</h1>-->

<!--		&lt;!&ndash; 필터 버튼 추가 &ndash;&gt;-->
<!--		<div class="filter-buttons">-->
<!--			<a th:href="@{/(sort='publishedDate', sortDirection='ASC')}" class="filter-button">출간일순</a>-->
<!--			<a th:href="@{/(sort='createdAt', sortDirection='ASC')}" class="filter-button">등록일순</a>-->
<!--			<a th:href="@{/(sort='title', sortDirection='ASC')}" class="filter-button">상품명순</a>-->
<!--			<a th:href="@{/t(sort='reviews', sortDirection='ASC')}" class="filter-button">리뷰순</a>-->
<!--			<a th:href="@{/(sort='price', sortDirection='ASC')}" class="filter-button">가격순</a>-->
<!--		</div>-->
<!--		&lt;!&ndash; 페이지 크기 설정 &ndash;&gt;-->
<!--		<div class="page-size-buttons">-->
<!--			<span>페이지 크기:</span>-->
<!--			<a th:href="@{/(size=3, sortDirection='ASC')}"-->
<!--			   th:classappend="${size == 3} ? 'active' : ''"-->
<!--			   class="page-size-button">3개씩</a>-->
<!--			<a th:href="@{/(size=4, sortDirection='ASC')}"-->
<!--			   th:classappend="${size == 4} ? 'active' : ''"-->
<!--			   class="page-size-button">4개씩</a>-->
<!--			<a th:href="@{/(size=5, sortDirection='ASC')}"-->
<!--			   th:classappend="${size == 5} ? 'active' : ''"-->
<!--			   class="page-size-button">5개씩</a>-->
<!--			<a th:href="@{/(size=9, sortDirection='ASC')}"-->
<!--			   th:classappend="${size == 9} ? 'active' : ''"-->
<!--			   class="page-size-button">9개씩</a>-->
<!--		</div>-->



<!--		<ul class="book-list">-->
<!--			&lt;!&ndash; allBooks 목록을 반복하여 도서 정보 표시 &ndash;&gt;-->
<!--			<li th:each="book : ${allBooks}" class="book-item">-->
<!--				<a th:href = "'/book/'+${book.bookId}">-->
<!--				&lt;!&ndash; 도서 썸네일 &ndash;&gt;-->
<!--				<div class="book-title" th:text="${book.imageName}">도서 이미지</div>-->
<!--				&lt;!&ndash; 도서 제목 &ndash;&gt;-->
<!--				<div class="book-title" th:text="${book.title}">도서 제목</div>-->

<!--				&lt;!&ndash; 도서 가격 &ndash;&gt;-->
<!--				<div class="book-price" th:text="'₩' + ${book.price}">도서 가격</div>-->

<!--				&lt;!&ndash; 할인율 &ndash;&gt;-->
<!--				<div class="discount-rate" th:text="'할인율: ' + ${book.discountRate} + '%'">할인율</div>-->
<!--				</a>-->
<!--			</li>-->
<!--		</ul>-->

<!--		&lt;!&ndash; 페이지네이션 &ndash;&gt;-->
<!--		<div class="pagination">-->
<!--			<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--				<a th:if="${page != nowPage}" th:href="@{/(page=${page - 1})}" th:text="${page}"></a>-->
<!--				<strong th:if="${page == nowPage}" th:text="${page}"></strong>-->
<!--			</th:block>-->
<!--		</div>-->
<!--		<div th:replace="~{fragments/footer}"></div>-->
<!--	</section>-->

<!--	<section id="featured-books" class="py-5 my-5">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-md-12">-->

<!--					<div class="section-header align-center">-->
<!--						<div class="title">-->
<!--							<span>Some quality items</span>-->
<!--						</div>-->
<!--						<h2 class="section-title">Featured Books</h2>-->
<!--					</div>-->

<!--					<div class="product-list" data-aos="fade-up">-->
<!--						<div class="row">-->

<!--							<div class="col-md-3">-->
<!--								<div class="product-item">-->
<!--									<figure class="product-style">-->
<!--										<img src="../static/images/product-item1.jpg" alt="Books" class="product-item">-->
<!--										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--											Cart</button>-->
<!--									</figure>-->
<!--									<figcaption>-->
<!--										<h3>Simple way of piece life</h3>-->
<!--										<span>Armor Ramsey</span>-->
<!--										<div class="item-price">$ 40.00</div>-->
<!--									</figcaption>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-3">-->
<!--								<div class="product-item">-->
<!--									<figure class="product-style">-->
<!--										<img src="../static/images/product-item2.jpg" alt="Books" class="product-item">-->
<!--										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--											Cart</button>-->
<!--									</figure>-->
<!--									<figcaption>-->
<!--										<h3>Great travel at desert</h3>-->
<!--										<span>Sanchit Howdy</span>-->
<!--										<div class="item-price">$ 38.00</div>-->
<!--									</figcaption>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-3">-->
<!--								<div class="product-item">-->
<!--									<figure class="product-style">-->
<!--										<img src="../static/images/product-item3.jpg" alt="Books" class="product-item">-->
<!--										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--											Cart</button>-->
<!--									</figure>-->
<!--									<figcaption>-->
<!--										<h3>The lady beauty Scarlett</h3>-->
<!--										<span>Arthur Doyle</span>-->
<!--										<div class="item-price">$ 45.00</div>-->
<!--									</figcaption>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-3">-->
<!--								<div class="product-item">-->
<!--									<figure class="product-style">-->
<!--										<img src="../static/images/product-item4.jpg" alt="Books" class="product-item">-->
<!--										<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--											Cart</button>-->
<!--									</figure>-->
<!--									<figcaption>-->
<!--										<h3>Once upon a time</h3>-->
<!--										<span>Klien Marry</span>-->
<!--										<div class="item-price">$ 35.00</div>-->
<!--									</figcaption>-->
<!--								</div>-->
<!--							</div>-->

<!--						</div>&lt;!&ndash;ft-books-slider&ndash;&gt;-->
<!--					</div>&lt;!&ndash;grid&ndash;&gt;-->


<!--				</div>&lt;!&ndash;inner-content&ndash;&gt;-->
<!--			</div>-->

<!--			<div class="row">-->
<!--				<div class="col-md-12">-->

<!--					<div class="btn-wrap align-right">-->
<!--						<a href="#" class="btn-accent-arrow">View all products <i-->
<!--								class="icon icon-ns-arrow-right"></i></a>-->
<!--					</div>-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->


<!--	<section id="best-selling" class="leaf-pattern-overlay">-->
<!--		<div class="corner-pattern-overlay"></div>-->
<!--		<div class="container">-->
<!--			<div class="row justify-content-center">-->

<!--				<div class="col-md-8">-->

<!--					<div class="row">-->

<!--						<div class="col-md-6">-->
<!--							&lt;!&ndash;<figure>는 이미지나 그림같은 콘텐츠 설명시 사용 &ndash;&gt;-->
<!--							<figure class="products-thumb">-->
<!--								&lt;!&ndash;-->
<!--								alt="book" : 이미지가 표시되지 않을 때 대신 표시될 텍스트-->
<!--								class="single-image" : css클래스 "single-image"를 지정-->
<!--								&ndash;&gt;-->
<!--								<img src="../static/images/single-image.jpg" alt="book" class="single-image">-->
<!--							</figure>-->
<!--						</div>-->



<!--						<div class="col-md-6">-->
<!--							&lt;!&ndash;Best Selling Book위로 50px 여백&ndash;&gt;-->
<!--							<div class="product-entry">-->
<!--								<h2 class="section-title divider">Best Selling Book</h2>-->

<!--								<div class="products-content">-->
<!--									<div class="author-name">By Timbur Hood</div>-->
<!--									<h3 class="item-title">Birds gonna be happy</h3>-->
<!--									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet,-->
<!--										libero ipsum enim pharetra hac.</p>-->
<!--									<div class="item-price">$ 45.00</div>-->
<!--									<div class="btn-wrap">-->
<!--										<a href="#" class="btn-accent-arrow">shop it now <i-->
<!--												class="icon icon-ns-arrow-right"></i></a>-->
<!--									</div>-->
<!--								</div>-->

<!--							</div>-->
<!--						</div>-->

<!--					</div>-->
<!--					&lt;!&ndash; / row &ndash;&gt;-->

<!--				</div>-->

<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section id="popular-books" class="bookshelf py-5 my-5">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-md-12">-->

<!--					<div class="section-header align-center">-->
<!--						<div class="title">-->
<!--							<span>Some quality items</span>-->
<!--						</div>-->
<!--						<h2 class="section-title">Popular Books</h2>-->
<!--					</div>-->

<!--					<ul class="tabs">-->
<!--						<li data-tab-target="#all-genre" class="active tab">All Genre</li>-->
<!--						<li data-tab-target="#business" class="tab">Business</li>-->
<!--						<li data-tab-target="#technology" class="tab">Technology</li>-->
<!--						<li data-tab-target="#romantic" class="tab">Romantic</li>-->
<!--						<li data-tab-target="#adventure" class="tab">Adventure</li>-->
<!--						<li data-tab-target="#fictional" class="tab">Fictional</li>-->
<!--					</ul>-->

<!--					<div class="tab-content">-->
<!--						<div id="all-genre" data-tab-content class="active">-->
<!--							<div class="row">-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item1.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Portrait photography</h3>-->
<!--											<span>Adam Silber</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item2.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Once upon a time</h3>-->
<!--											<span>Klien Marry</span>-->
<!--											<div class="item-price">$ 35.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item3.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Tips of simple lifestyle</h3>-->
<!--											<span>Bratt Smith</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item4.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Just felt from outside</h3>-->
<!--											<span>Nicole Wilson</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--							</div>-->
<!--							<div class="row">-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item5.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Peaceful Enlightment</h3>-->
<!--											<span>Marmik Lama</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item6.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Great travel at desert</h3>-->
<!--											<span>Sanchit Howdy</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item7.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Life among the pirates</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item8.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Simple way of piece life</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--							</div>-->

<!--						</div>-->
<!--						<div id="business" data-tab-content>-->
<!--							<div class="row">-->
<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item2.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Peaceful Enlightment</h3>-->
<!--											<span>Marmik Lama</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item4.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Great travel at desert</h3>-->
<!--											<span>Sanchit Howdy</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item6.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Life among the pirates</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item8.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Simple way of piece life</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--							</div>-->
<!--						</div>-->

<!--						<div id="technology" data-tab-content>-->
<!--							<div class="row">-->
<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item1.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Peaceful Enlightment</h3>-->
<!--											<span>Marmik Lama</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item3.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Great travel at desert</h3>-->
<!--											<span>Sanchit Howdy</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item5.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Life among the pirates</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item7.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Simple way of piece life</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div id="romantic" data-tab-content>-->
<!--							<div class="row">-->
<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item1.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Peaceful Enlightment</h3>-->
<!--											<span>Marmik Lama</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item3.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Great travel at desert</h3>-->
<!--											<span>Sanchit Howdy</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item5.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Life among the pirates</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item7.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Simple way of piece life</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div id="adventure" data-tab-content>-->
<!--							<div class="row">-->
<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item5.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Life among the pirates</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item7.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Simple way of piece life</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div id="fictional" data-tab-content>-->
<!--							<div class="row">-->
<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item5.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Life among the pirates</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="col-md-3">-->
<!--									<div class="product-item">-->
<!--										<figure class="product-style">-->
<!--											<img src="../static/images/tab-item7.jpg" alt="Books" class="product-item">-->
<!--											<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--												Cart</button>-->
<!--										</figure>-->
<!--										<figcaption>-->
<!--											<h3>Simple way of piece life</h3>-->
<!--											<span>Armor Ramsey</span>-->
<!--											<div class="item-price">$ 40.00</div>-->
<!--										</figcaption>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--					</div>-->

<!--				</div>&lt;!&ndash;inner-tabs&ndash;&gt;-->

<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section id="quotation" class="align-center pb-5 mb-5">-->
<!--		<div class="inner-content">-->
<!--			<h2 class="section-title divider">Quote of the day</h2>-->
<!--			<blockquote data-aos="fade-up">-->
<!--				<q>“The more that you read, the more things you will know. The more that you learn, the more places-->
<!--					you’ll go.”</q>-->
<!--				<div class="author-name">Dr. Seuss</div>-->
<!--			</blockquote>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section id="special-offer" class="bookshelf pb-5 mb-5">-->

<!--		<div class="section-header align-center">-->
<!--			<div class="title">-->
<!--				<span>Grab your opportunity</span>-->
<!--			</div>-->
<!--			<h2 class="section-title">Books with offer</h2>-->
<!--		</div>-->

<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="inner-content">-->
<!--					<div class="product-list" data-aos="fade-up">-->
<!--						<div class="grid product-grid">-->
<!--							<div class="product-item">-->
<!--								<figure class="product-style">-->
<!--									<img src="../static/images/product-item5.jpg" alt="Books" class="product-item">-->
<!--									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--										Cart</button>-->
<!--								</figure>-->
<!--								<figcaption>-->
<!--									<h3>Simple way of piece life</h3>-->
<!--									<span>Armor Ramsey</span>-->
<!--									<div class="item-price">-->
<!--										<span class="prev-price">$ 50.00</span>$ 40.00-->
<!--									</div>-->
<!--								</div>-->
<!--							</figcaption>-->

<!--							<div class="product-item">-->
<!--								<figure class="product-style">-->
<!--									<img src="../static/images/product-item6.jpg" alt="Books" class="product-item">-->
<!--									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--										Cart</button>-->
<!--								</figure>-->
<!--								<figcaption>-->
<!--									<h3>Great travel at desert</h3>-->
<!--									<span>Sanchit Howdy</span>-->
<!--									<div class="item-price">-->
<!--										<span class="prev-price">$ 30.00</span>$ 38.00-->
<!--									</div>-->
<!--								</div>-->
<!--							</figcaption>-->

<!--							<div class="product-item">-->
<!--								<figure class="product-style">-->
<!--									<img src="../static/images/product-item7.jpg" alt="Books" class="product-item">-->
<!--									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--										Cart</button>-->
<!--								</figure>-->
<!--								<figcaption>-->
<!--									<h3>The lady beauty Scarlett</h3>-->
<!--									<span>Arthur Doyle</span>-->
<!--									<div class="item-price">-->
<!--										<span class="prev-price">$ 35.00</span>$ 45.00-->
<!--									</div>-->
<!--								</div>-->
<!--							</figcaption>-->

<!--							<div class="product-item">-->
<!--								<figure class="product-style">-->
<!--									<img src="../static/images/product-item8.jpg" alt="Books" class="product-item">-->
<!--									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--										Cart</button>-->
<!--								</figure>-->
<!--								<figcaption>-->
<!--									<h3>Once upon a time</h3>-->
<!--									<span>Klien Marry</span>-->
<!--									<div class="item-price">-->
<!--										<span class="prev-price">$ 25.00</span>$ 35.00-->
<!--									</div>-->
<!--								</div>-->
<!--							</figcaption>-->

<!--							<div class="product-item">-->
<!--								<figure class="product-style">-->
<!--									<img src="../static/images/product-item2.jpg" alt="Books" class="product-item">-->
<!--									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to-->
<!--										Cart</button>-->
<!--								</figure>-->
<!--								<figcaption>-->
<!--									<h3>Simple way of piece life</h3>-->
<!--									<span>Armor Ramsey</span>-->
<!--									<div class="item-price">$ 40.00</div>-->
<!--								</figcaption>-->
<!--							</div>-->
<!--						</div>&lt;!&ndash;grid&ndash;&gt;-->
<!--					</div>-->
<!--				</div>&lt;!&ndash;inner-content&ndash;&gt;-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section id="subscribe">-->
<!--		<div class="container">-->
<!--			<div class="row justify-content-center">-->

<!--				<div class="col-md-8">-->
<!--					<div class="row">-->

<!--						<div class="col-md-6">-->

<!--							<div class="title-element">-->
<!--								<h2 class="section-title divider">Subscribe to our newsletter</h2>-->
<!--							</div>-->

<!--						</div>-->
<!--						<div class="col-md-6">-->

<!--							<div class="subscribe-content" data-aos="fade-up">-->
<!--								<p>Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit-->
<!--									adipiscing enim pharetra hac.</p>-->
<!--								<form id="form">-->
<!--									<input type="text" name="email" placeholder="Enter your email addresss here">-->
<!--									<button class="btn-subscribe">-->
<!--										<span>send</span>-->
<!--										<i class="icon icon-send"></i>-->
<!--									</button>-->
<!--								</form>-->
<!--							</div>-->

<!--						</div>-->

<!--					</div>-->
<!--				</div>-->

<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section id="latest-blog" class="py-5 my-5">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-md-12">-->

<!--					<div class="section-header align-center">-->
<!--						<div class="title">-->
<!--							<span>Read our articles</span>-->
<!--						</div>-->
<!--						<h2 class="section-title">Latest Articles</h2>-->
<!--					</div>-->

<!--					<div class="row">-->

<!--						<div class="col-md-4">-->

<!--							<article class="column" data-aos="fade-up">-->

<!--								<figure>-->
<!--									<a href="#" class="image-hvr-effect">-->
<!--										<img src="../static/images/post-img1.jpg" alt="post" class="post-image">-->
<!--									</a>-->
<!--								</figure>-->

<!--								<div class="post-item">-->
<!--									<div class="meta-date">Mar 30, 2021</div>-->
<!--									<h3><a href="#">Reading books always makes the moments happy</a></h3>-->

<!--									<div class="links-element">-->
<!--										<div class="categories">inspiration</div>-->
<!--										<div class="social-links">-->
<!--											<ul>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-facebook"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-twitter"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-behance-square"></i></a>-->
<!--												</li>-->
<!--											</ul>-->
<!--										</div>-->
<!--									</div>&lt;!&ndash;links-element&ndash;&gt;-->

<!--								</div>-->
<!--							</article>-->

<!--						</div>-->
<!--						<div class="col-md-4">-->

<!--							<article class="column" data-aos="fade-up" data-aos-delay="200">-->
<!--								<figure>-->
<!--									<a href="#" class="image-hvr-effect">-->
<!--										<img src="../static/images/post-img2.jpg" alt="post" class="post-image">-->
<!--									</a>-->
<!--								</figure>-->
<!--								<div class="post-item">-->
<!--									<div class="meta-date">Mar 29, 2021</div>-->
<!--									<h3><a href="#">Reading books always makes the moments happy</a></h3>-->

<!--									<div class="links-element">-->
<!--										<div class="categories">inspiration</div>-->
<!--										<div class="social-links">-->
<!--											<ul>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-facebook"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-twitter"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-behance-square"></i></a>-->
<!--												</li>-->
<!--											</ul>-->
<!--										</div>-->
<!--									</div>&lt;!&ndash;links-element&ndash;&gt;-->

<!--								</div>-->
<!--							</article>-->

<!--						</div>-->
<!--						<div class="col-md-4">-->

<!--							<article class="column" data-aos="fade-up" data-aos-delay="400">-->
<!--								<figure>-->
<!--									<a href="#" class="image-hvr-effect">-->
<!--										<img src="../static/images/post-img3.jpg" alt="post" class="post-image">-->
<!--									</a>-->
<!--								</figure>-->
<!--								<div class="post-item">-->
<!--									<div class="meta-date">Feb 27, 2021</div>-->
<!--									<h3><a href="#">Reading books always makes the moments happy</a></h3>-->

<!--									<div class="links-element">-->
<!--										<div class="categories">inspiration</div>-->
<!--										<div class="social-links">-->
<!--											<ul>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-facebook"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-twitter"></i></a>-->
<!--												</li>-->
<!--												<li>-->
<!--													<a href="#"><i class="icon icon-behance-square"></i></a>-->
<!--												</li>-->
<!--											</ul>-->
<!--										</div>-->
<!--									</div>&lt;!&ndash;links-element&ndash;&gt;-->

<!--								</div>-->
<!--							</article>-->

<!--						</div>-->

<!--					</div>-->

<!--					<div class="row">-->

<!--						<div class="btn-wrap align-center">-->
<!--							<a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">Read All Articles<i-->
<!--									class="icon icon-ns-arrow-right"></i></a>-->
<!--						</div>-->
<!--					</div>-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<!--	<section id="download-app" class="leaf-pattern-overlay">-->
<!--		<div class="corner-pattern-overlay"></div>-->
<!--		<div class="container">-->
<!--			<div class="row justify-content-center">-->
<!--				<div class="col-md-8">-->
<!--					<div class="row">-->

<!--						<div class="col-md-5">-->
<!--							<figure>-->
<!--								<img src="../static/images/device.png" alt="phone" class="single-image">-->
<!--							</figure>-->
<!--						</div>-->

<!--						<div class="col-md-7">-->
<!--							<div class="app-info">-->
<!--								<h2 class="section-title divider">Download our app now !</h2>-->
<!--								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus-->
<!--									liberolectus nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna.-->
<!--									Adipiscing fames semper erat ac in suspendisse iaculis.</p>-->
<!--								<div class="google-app">-->
<!--									<img src="../static/images/google-play.jpg" alt="google play">-->
<!--									<img src="../static/images/app-store.jpg" alt="app store">-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
<!--	<div th:replace="~{fragments/footer}"></div>-->

	<script src="/static/js/jquery-1.11.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="/static/js/plugins.js"></script>
	<script src="/static/js/script.js"></script>

</body>

</html>